:root {
    --purple: #d0c0e8;
    --purple-light: #fff3ff;
    --purple-dark: #9f90b6;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.btnmar {
    margin-top: 0px; 
}

.custom-table td, .custom-table td {
    margin: 0px;
    padding: 0.25rem 0.75rem;
}

.item .item-num {
    opacity: 0.5;
}
.item:hover .item-num {
    opacity: 1.0;
    font-weight: 900;
}
.item .item-control {
    opacity: 0;
    transition: opacity 150ms;
}
.item:hover .item-control {
    opacity: 1;
}
.item:hover {
    color: #000;
}

.letter {
    color: #F9D146;
   
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}

.author_text {
    font-size: 15px;
    font-family: 'Montserrat';
}

.shadow-md {
    box-shadow: 0 0.250rem 0.5rem rgba(0, 0, 0, 0.08) !important;
}

body {
    background-color: #fff;
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding:0;
}

header {
    background-color: #fff;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    
}

a, .tel {
    color: blue;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
    position:relative;
}
.tel:hover, a:hover {
    text-decoration: underline;
    color: darkblue;
}

.cont {
    text-align: left;
    margin: 5px;
    border-radius: 250px;
}

.pr {
    width: 350px;
}

.pr:hover {
    cursor: pointer;
}

.book-image {
    padding-bottom: 100%;

    border-radius: 10px;

    transition: transform 200ms;
}

.book-view:hover .book-image {
    transform: scale(1.1);
}

.book-view hr {
    background: linear-gradient(to right, transparent, #adadad, transparent);
    transition: background-position 200ms ease-out;  
}
.book-view:hover hr {
    background: linear-gradient(to right, transparent, #f9d146, transparent);
}

.author-view .author-image {
    padding-bottom: 100%;
    border-radius: 10px;
    transition: transform 200ms;
}

.author-view .author-name {
    font-size: 1.5rem;
    cursor: default;
}

.author-view:hover .author-image {
    transform: scale(1.05);
}

.name-prepod {
    font-size: 24px;
    color: black;  
    font-family: 'Jura', sans-serif;
}
.name-prepod:hover {
    text-decoration: none !important;
    color:black;
}

.contel {
    font-size: 30px;
    color: black;  
    font-family: 'Jura', sans-serif;
}

.bt:focus {
    outline: 1px dotted;
    outline: 5px auto;
}

.sld {
    font-size: 30px;
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.hr {
    margin: 0; 
    padding: 4px; 
}

.lnk-item {
    display: inline;  
    margin-right: 6px;
    padding: 3px;
}

.lnk-link, .nav-link {
    text-decoration: none;
    font-size: 25px; 
    color: #000; 
    font-family: 'Jura', bold;
    transition: all 0.3s ease-in;
}

.lnk-link:hover, .nav-link:hover {
    text-decoration: none;
    color: #fff;
    /* padding: 4px; */
    border-radius: 4px;
    border: none;
    font-size: 25px;
    background-color: #000;
}

.inf {
    text-decoration: underline !important;
}

.inf:hover {
    cursor: pointer;
}

footer {
    background-color: #000;
    text-align: center;
    font-size: 15px;
}
.foot {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none !important;
}
.foot:hover {
    color: #ffffff;
}

.indent {
    text-indent: 20px;
}
